<form action="{% url 'authentication:user_registration' %}" method="POST">
    {% csrf_token %}

    <input type="text" placeholder="Nome completo" id="name" name="name" maxlength="100" required>
    <input type="text" placeholder="CPF" id="cpf" name="cpf" data-mask="cpf" data-mask="cpf" required>
    <input type="text" placeholder="Data de Nascimento" id="birth-date" name="birth_date" data-mask="date" required>
    <input type="email" placeholder="E-mail" id="email" name="email" maxlength="100" required>
    <input type="text" placeholder="Telefone" id="phone" name="phone" data-mask="phone" required>
    <input type="password" placeholder="Senha" id="password" name="password" maxlength="50" required>
    <input type="password" placeholder="Confirmação da senha" id="password-confirmation" name="password_confirmation" maxlength="50">

    <button class="button" type="submit">Criar conta</button>
    
    <a href="{% url 'authentication:signin' %}">
        <button class="button secondary" type="button">Voltar</button>
    </a>
</form>