<form action="{% url 'authentication:user_login' %}" method="POST">
    {% csrf_token %}

    <div class="radio-control">
        <input id="radio-auth-type-phone" name="radio-auth-type" type="radio" data-radio-control="phone" value="phone" checked>
        <label for="radio-auth-type-phone">Telefone</label>
    
        <input id="radio-auth-type-email" name="radio-auth-type" type="radio" data-radio-control="email" value="email">
        <label for="radio-auth-type-email">E-mail</label>
    </div>
    

    <input class="email-input" type="email" placeholder="E-mail" name="email" maxlength="100" data-radio-control-target="email">
    <input class="phone-input" type="text" placeholder="Telefone" name="phone" data-mask="phone" data-radio-control-target="phone">
    <input class="password-input" type="password" placeholder="Senha" name="password" maxlength="100" required>
    <span class="error-message">{{ error_messages.auth }}</span>

    <button class="button" type="submit">Entrar</button>
    
    <a href="{% url 'authentication:registration' %}">
        <button class="button secondary" type="button">Criar conta</button>
    </a>

    <a class="link" href="#">Esqueci minha senha</a>
</form>