<form action="{% url 'authentication:user_login' %}" method="POST">
    {% csrf_token %}

    <input class="email-input" type="email" placeholder="E-mail" name="email" maxlength="100">
    <input class="password-input" type="password" placeholder="Senha" name="password" maxlength="100">

    <button class="button" type="submit">Entrar</button>
    
    <a href="{% url 'authentication:registration' %}">
        <button class="button secondary" type="button">Criar conta</button>
    </a>

    <a class="link" href="#">Esqueci minha senha</a>
</form>