{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Navegar • {% block title %}{% endblock %}</title>

        <link rel="shortcut icon" href="{% static 'favicon.svg' %}" type="image/x-icon">

        <!-- GLOBAL CSS -->
        <link rel="stylesheet" href="{% static 'css/global/reset.css' %}">
        <link rel="stylesheet" href="{% static 'css/global/typography.css' %}">
        <link rel="stylesheet" href="{% static 'css/global/colors.css' %}">
        <link rel="stylesheet" href="{% static 'css/global/layout.css' %}">
        
        <!-- COMPONENTS CSS -->
        <link rel="stylesheet" href="{% static 'css/components/button.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/checkbox.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/divider.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/dropdown.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/form.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/input.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/navbar.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/navicon.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/page-header.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/radio-control.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/table.css' %}">
        
        <!-- TEMPLATES CSS -->
         {% block css_template %}{% endblock %}
    </head>

    <body>
        {% block content %}{% endblock %}

        {% if not hidden_navbar %}
            {% include './_navbar.html' %}
        {% endif %}

        <script src="{% static 'js/components/autoSubmitForm.js' %}"></script>
        <script src="{% static 'js/components/input.js' %}"></script>
        <script src="{% static 'js/components/mask.js' %}"></script>
        <script src="{% static 'js/components/navbar.js' %}"></script>
        <script src="{% static 'js/components/radioControl.js' %}"></script>

        {% block js_template %}{% endblock %}
    </body>
</html>