{% extends '../partials/_base.html' %}

{% load static %}

{% block title %}
    Financeiro
{% endblock %}

{% block css_template %}
    <link rel="stylesheet" href="{% static 'css/templates/finantial/dashboard.css' %}">
{% endblock %}

{% block content %}
    {% include '../partials/_page-header.html' with title='Financeiro' back_link='/' %}

    <main>
        <form class="container">
            <input 
                data-month-input
                type="month"
                max="{{ last_month|date:'Y-m' }}"
                min="2024-05"
                name="month"
                value="{{ main_date|date:'Y-m' }}"
            >
        </form>

        <div class="container">
            <h2 class="fw-bd fs-lg">{{ main_date|date:'F, Y' }}</h2>

            {% if request.user.role == 'A' %}
                <span class="profit-label fs-sm">Lucro: R$ {{ total_profit }}</span>
                <span class="clr-primary fs-sm">Valor pago: R$ {{ total_paid }}</span>
                <span class="cost-label fs-sm">Valor a pagar: R$ {{ total_pending }}</span>
            {% elif request.user.role == 'C' %}
                <span class="cost-label fs-sm">Valor a pagar: R$ {{ total_pending }} + R$ {{ total_pending_profit }} (8%)</span>
            {% endif %}
        </div>

        {% for day in days %}
            <div class="container lg gray">
                <p class="fs-md fw-bd">{{ day.day|date:'l, d \d\e F' }}</p>

                <span class="divider"></span>

                <div class="group sm">
                    {% if request.user.role == 'A' %}
                        <span class="fs-sm profit-label">Lucro: R$ {{ day.total_profit }}</span>
                        <span class="fs-sm clr-primary">Valor pago: R$ {{ day.total_paid }}</span>
                        <span class="fs-sm cost-label">Valor a pagar: R$ {{ day.total_pending }}</span>
                    {% elif request.user.role == 'C' %}
                        <span class="fs-sm cost-label">Valor a pagar: R$ {{ day.total_pending }} + R$ {{ day.total_pending_profit }} (8%)</span>
                    {% endif %}
                </div>
            </div>
            
            <form action="{% url 'finantial:ticket_check' %}" class="finantial-form" method="POST">
                {% csrf_token %}

                <table class="ticket-table table">
                    <thead>
                        <th>Status</th>
                        <th>Data inicial</th>
                        <th>Hora</th>
                        <th>Data final</th>
                        <th>Hora</th>
                        <th>Paxs</th>
                        <th>Serviço</th>
                        <th>Descrição</th>
                        <th>Lancha/Produto</th>
                        <th>Valor</th>
                    </thead>

                    <tbody>
                        {% for ticket in day.tickets %}
                            <tr>
                                {% if ticket.status == 'pending' %}
                                    <td>
                                        <input 
                                            type="checkbox"
                                            name="{{ ticket.id }}"
                                        >   
                                    </td>
                                {% elif ticket.status == 'paid' %}
                                    <td class="paid-ticket"></td>
                                {% endif %}

                                <td>{{ ticket.date|date:"SHORT_DATE_FORMAT" }}</td>
                                <td>{{ ticket.departure_time }}</td>
                                <td>{{ ticket.arrival_date|date:"SHORT_DATE_FORMAT" }}</td>
                                <td>{{ ticket.arrival_time }}</td>

                                <td>
                                    {% if ticket.passenger %}
                                        {{ ticket.passenger }}
                                    {% else %}
                                        {{ ticket.cargo.description }}
                                    {% endif %}
                                </td>

                                <td>
                                    {% if ticket.passenger %}
                                        PASSAGEM/LANCHA
                                    {% else %}
                                        ENCOMENDA
                                    {% endif %}
                                </td>

                                <td>{{ ticket.origin }} -> {{ ticket.destination }}</td>
                                <td>{{ ticket.boat }}</td>
                                <td>R$ {{ ticket.cost }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                {% if request.user.role == 'A' %}
                    <button type="submit">MARCAR COMO PAGO</button>
                {% endif %}
            </form>
        {% endfor %}
    </main>

{% endblock %}

{% block js_template %}
    <script src="{% static 'js/templates/finantial/dashboard.js' %}"></script>
{% endblock %}