{% extends '../partials/_base.html' %}

{% load static %}

{% block title %}
    Consulta de rotas
{% endblock %}

{% block css_template %}
    <link rel="stylesheet" href="{% static 'css/templates/route/search.css' %}">
{% endblock %}

{% block content %}
    <main>
        <img 
            alt="Logotipo Navegar"
            class="logo"
            src="{% static 'images/logo-blue.svg' %}" 
        >

        <form class="route-search-form">
            <select name="origin" id="origin" required>
                <option value="" disabled selected>Origem</option>

                {% for city in cities %}
                    {% if city.id == origin.id %}
                        <option value="{{ origin.id }}" selected>{{ origin }}</option>
                    {% else %}
                        <option value="{{ city.id }}">{{ city }}</option>
                    {% endif %}
                {% endfor %}
            </select>

            <select name="destination" id="destination" required>
                <option value="" disabled selected>Destino</option>

                {% for city in cities %}
                    {% if city.id == destination.id %}
                        <option value="{{ destination.id }}" selected>{{ destination }}</option>
                    {% else %}
                        <option value="{{ city.id }}">{{ city }}</option>
                    {% endif %}
                {% endfor %}
            </select>

            <div class="search-date-button">
                <input 
                    id="date"
                    min="{{ today|date:'Y-m-d' }}" 
                    name="date"     
                    required
                    type="date" 

                    {% if date %}
                        value="{{ date }}"
                    {% else %}
                        value="{{ today|date:'Y-m-d' }}"
                    {% endif %}
                >

                <button class="button icon search" type="submit"></button>
            </div>

            {% for item in route_boat_weekdays %}
                <a class="result-item" href="{% url 'ticket:add' item.id date %}">
                    <div class="route-value">
                        <span class="boat-label">{{ item.boat }}</span>
                        
                        <div class="group sm">
                            <span class="price-label">R$ {{ item.price }}</span>
                            <span class="cost-label">-R$ {{ item.cost }}</span>
                        </div>
                    </div>

                    <div class="group sm route-info">
                        <span class="route-time">
                            {{ item.departure_time }} - {{ item.arrival_time }}
                            
                            {% if item.next_day %} (Dia seguinte) {% endif %}
                        </span>

                        <span>{{ item.origin }} - {{ item.destination }}</span>
                        <span>{{ item.duration }} horas</span>
                    </div>
                </a>
            {% empty %}
                {% if origin %}
                    <span class="not-found">Nenhuma embarcação disponível</span>
                {% endif %}
            {% endfor %}
        </form>
    </main>
{% endblock %}