{% extends '../partials/_base.html' %}

{% load static %}

{% block title %}
    Consulta de rotas
{% endblock %}

{% block content %}
    <main>
        <img src="" alt="">

        <div class="">
            <div>
                <input type="text">

                <ul>
                    <li>
                        MANAUS -> TABATINGA
                    </li>
                </ul>
            </div>

            <div>
                <input type="date" name="" id="">

                <button class="icon search" type="submit"></button>
            </div>
        </div>
    </main>
{% endblock %}