{% extends '../partials/_base.html' %}

{% load static %}

{% block title %}
    Passagens
{% endblock %}

{% block css_template %}
    <link rel="stylesheet" href="{% static 'css/templates/ticket/index.css' %}">
{% endblock %}

{% block content %}
    {% include '../partials/_page-header.html' with title='Passagens' back_link='/' %}

    <main>
        <form class="container" data-auto-submit-form>
            <input 
                data-auto-submit-input
                type="month"
                max="{{ last_month|date:'Y-m' }}"
                min="2024-05"
                name="month"
                value="{{ main_date|date:'Y-m' }}"
            >
        </form>

        <ul class="ticket-list">
            {% for ticket in tickets %}
                <li class="group">
                    {% if ticket.status == 'analyzing' %}
                        <p class="badge">Em Análise</p>
                    {% elif ticket.status == 'cancelled' %}
                        <p class="badge red">Cancelado</p>
                    {% elif ticket.status == 'completed' %}
                        <p class="badge green">Finalizado</p>
                    {% elif ticket.status == 'paid' %}
                        <p class="badge blue">Pago</p>
                    {% elif ticket.status == 'pending' %}
                        <p class="badge yellow">Pendente</p>
                    {% endif %}

                    {% if ticket.no_show %}
                        <p class="badge red">NO-SHOW</p>
                    {% endif %}

                    <p class="boat-label fs-md fw-bd">{{ ticket.boat }}</p>
                    <p class="ticket-route fs-md fw-bd">{{ ticket.origin|upper }} -> {{ ticket.destination|upper  }}</p>
                    <span class="fs-sm clr-text-light">{{ ticket.date }}</span>

                    {% if ticket.passenger %}
                        <span class="fs-sm clr-text-light">{{ ticket.passenger.name }}</span>
                    {% else %}
                        <span class="fs-sm clr-text-light">CARGA</span>
                    {% endif %}

                    <div class="group row">
                        <a href="{% url 'ticket:ticket' ticket.id %}" class="button link">Ver mais</a>

                        {% if ticket.status != 'cancelled' %}
                            {% if ticket.boat.supplier.upload_ticket %}
                                {% if ticket.file %}
                                    <a class="button link download" href="{% url 'ticket:pdf' ticket.id %}" download>Download</a>
                                {% else %}
                                    <form 
                                        action="{% url 'ticket:ticket_upload' ticket.id %}" 
                                        class="discreet ticket-upload-form" 
                                        enctype="multipart/form-data" 
                                        method="POST"
                                    >
                                        {% csrf_token %}

                                        <label for="file" class="button link upload">Anexar bilhete</label>

                                        <input 
                                            id="file" 
                                            type="file"
                                            name="file"
                                            required
                                        >

                                        <div class="container lg submit-navbar">
                                            <button class="button">Salvar bilhete</button>
                                        </div>
                                    </form>
                                {% endif %}
                            {% else %}
                                <a class="button link download" href="{% url 'ticket:pdf' ticket.id %}" download>Download</a>
                            {% endif %}
                        {% endif %}
                    </div>

                    <span class="fs-sm fw-bd clr-text-light">{% if ticket.rebooking %}REMARCAÇÃO - {% endif %}Criado em {{ ticket.created_at }}</span>
                </li>
            {% endfor %}
        </ul>
    </main>
{% endblock %}