{% extends '../partials/_base.html' %}

{% load static %}

{% block title %}
    {{ ticket.boat }} - 

    {% if ticket.passenger %} 
        {{ ticket.passenger.name }} 
    {% else %} 
        CARGA 
    {% endif %} - 

    {{ticket.date}} - 
    {{ ticket.origin }} - 
    {{ ticket.destination }}
{% endblock %}

{% block css_template %}
    <link rel="stylesheet" href="{% static 'css/templates/ticket/ticket.css' %}">
{% endblock %}

{% block content %}
    {% include '../partials/_page-header.html' with title='Passagem' back_link='/passagens/' %}

    <main>
        <div class="container">
            <div class="group lg">
                <div class="group row">
                    <div class="badge gray lg">#{{ ticket.id }}</div>
                
                    {% if ticket.status == 'analyzing' %}
                        <p class="badge lg">Em Análise</p>
                    {% elif ticket.status == 'cancelled' %}
                        <p class="badge red lg">Cancelado</p>
                    {% elif ticket.status == 'completed' %}
                        <p class="badge gren lg">Finalizado</p>
                    {% elif ticket.status == 'paid' %}
                        <p class="badge green lg">Pago em {{ ticket.paid_at }}</p>
                    {% elif ticket.status == 'pending' %}
                        <p class="badge yellow lg">Pendente</p>
                    {% endif %}

                    {% if ticket.no_show %}
                        <p class="badge red lg">NO-SHOW</p>
                    {% endif %}

                    {% if ticket.rebooking %}
                        <p class="badge lg">REMARCAÇÃO</p>
                    {% endif %}
                </div>

                <div class="group">
                    <p class="boat-label">{{ ticket.boat }}</p>

                    <div class="group sm">
                        <h2 class="fw-bd">{{ ticket.origin }} -> {{ ticket.destination }}</h2>

                        <div class="group row lg">
                            <span class="fs-sm fw-bd clr-text-light">{{ ticket.date }}</span>

                            <span class="fs-sm fw-bd clr-text-light">{{ ticket.departure_time }} - {{ ticket.arrival_time }} {% if ticket.next_day %} (Dia seguinte) {% endif %}</span>
                        </div>
                    </div>
                </div>
                
                {% if ticket.status != 'cancelled' %}
                    <div class="group row">
                        {% if ticket.status == 'analyzing' %}
                            <form class="discreet" action="{% url 'ticket:ticket_status_update' ticket.id 'pending' %}" method="POST">
                                {% csrf_token %}

                                <button class="button link" type="submit">Confirmar</button>
                            </form>
                        {% else %}
                            <a href="{% url 'ticket:pdf' ticket.id %}" class="button link download" download>Download</a>
                            
                            {% if not ticket.no_show %}
                                <a href="{% url 'ticket:rebooking' ticket.id %}" class="button link yellow">Remarcar Passagem</a>
                            {% endif %}
                        {% endif %} 
                    </div>
                {% endif %}

                <div class="group sm">
                    {% if ticket.passenger %}
                        <span class="fw-bd fs-sm clr-text-light">{{ ticket.passenger.name }}</span>
                        <span class="fw-bd fs-sm clr-text-light">CPF: {{ ticket.passenger.cpf|default:'CPF: NA' }}</span>
                        <span class="fw-bd fs-sm clr-text-light">RG: {{ ticket.passenger.rg|default:'RG: NA' }}</span>
                        <span class="fw-bd fs-sm clr-text-light">Nascimento: {{ ticket.passenger.birth_date|default:'Nascimento: NA' }}</span>
                    {% else %}
                        <span class="fw-bd fs-sm clr-text-light">Carga: {{ ticket.cargo.description }} - {{ ticket.cargo.weight }}</span>
                    {% endif %}
                </div>

                {% if ticket.status != 'cancelled' %}
                    <form action="{% url 'ticket:ticket_update' ticket.id %}" class="discreet group lg" method="POST">
                        {% csrf_token %}

                        <div class="group">
                            {% if not ticket.no_show and ticket.status != 'analyzing' %}
                                <div class="checkbox">
                                    <input type="checkbox" id="no_show" name="no_show" data-no-show-checkbox>
                                    <label for="no_show">NO-SHOW</label>
                                </div>
                            {% endif%}

                            <input 
                                data-price-input="{{ ticket.cost }}"
                                {% if ticket.status == 'analyzing' %} disabled {% endif %}
                                name="price"
                                placeholder="Preço"
                                required
                                type="text"
                                value="{{ ticket.price }}"
                            >
                        </div>
                        
                        <div class="group row">
                            {% if ticket.status != 'analyzing' %}
                                <button class="button link" type="submit">Salvar Alterações</button>
                            {% endif %}

                            {% if ticket.status != 'completed' %}
                                <button class="button link red" type="submit" name="cancellation">Cancelar Passagem</button>
                            {% endif %}
                        </div>
                    </form>
                {% endif %}
            </div>
        </div>

        {% if ticket.status != 'cancelled' and ticket.status != 'analyzing' %}
            <div class="container">
                <p>Adicionais</p>

                {% for additional in ticket.get_additional %}
                    <div class="group additional-group">
                        <span class="fw-bd fs-md clr-primary">{{ additional.value }}</span>
                        <span class="fs-sm fw-bd clr-text-light">{{ additional.description }}</span>
                        <a href="{% url 'ticket:additional_remove' additional.id %}" class="clr-red fw-bd fs-sm">Remover Adicional</a>
                    </div>
                {% endfor %}

                <form
                    action="{% url 'ticket:additional_creation' ticket.id %}"
                    class="container lg card"
                    method="POST"
                >
                    {% csrf_token %}

                    <div class="group lg">
                        <input 
                            id="description"
                            placeholder="Descrição"
                            maxlength="100"
                            name="description" 
                            required
                            type="text" 
                        >
                        
                        <input 
                            id="value"
                            placeholder="Valor"
                            maxlength="50"
                            name="value" 
                            required
                            type="text" 
                        >

                        <button class="link button">Salvar Adicional</button>
                    </div>
                </form>
            </div>
        {% endif %}
    </main>
{% endblock %}

{% block js_template %}
    <script src="{% static 'js/templates/ticket/ticket.js' %}"></script>
{% endblock %}