{% extends '../partials/_base.html' %}

{% load static %}

{% block title %}
    {{ ticket.boat }} - 

    {% if ticket.passenger %} 
        {{ ticket.passenger.name }} 
    {% else %} 
        CARGA 
    {% endif %} - 

    {{ticket.date}} - 
    {{ ticket.origin }} - 
    {{ ticket.destination }}
{% endblock %}

{% block css_template %}
    <link rel="stylesheet" href="{% static 'css/templates/ticket/ticket.css' %}">
{% endblock %}

{% block content %}
    {% include '../partials/_page-header.html' with title='Passagem' back_link='/passagens/' %}

    <main>
        <div class="container">
            <div class="group lg">
                <div class="group">
                    {% if ticket.status == 'analyzing' %}
                        <p class="badge">Em Análise</p>
                    {% elif ticket.status == 'cancelled' %}
                        <p class="badge red">Cancelado</p>
                    {% elif ticket.status == 'completed' %}
                        <p class="badge gren">Finalizado</p>
                    {% elif ticket.status == 'paid' %}
                        <p class="badge green">Pago em {{ ticket.paid_at }}</p>
                    {% elif ticket.status == 'pending' %}
                        <p class="badge yellow">Pendente</p>
                    {% endif %}

                    {% if ticket.no_show %}
                        <p class="badge red">NO-SHOW</p>
                    {% endif %}

                    <p class="boat-label">{{ ticket.boat }}</p>

                    <div class="group sm">
                        <h2 class="fw-bd">{{ ticket.origin }} -> {{ ticket.destination }}</h2>

                        {% if ticket.rebooking %}
                            <span class="fs-sm fw-bd clr-text-light">REMARCAÇÃO</span>
                        {% endif %}

                        <div class="group row lg">
                            <span class="fs-sm fw-bd clr-text-light">{{ ticket.date }}</span>

                            <span class="fs-sm fw-bd clr-text-light">{{ ticket.departure_time }} - {{ ticket.arrival_time }} {% if ticket.next_day %} (Dia seguinte) {% endif %}</span>
                        </div>
                    </div>

                    <p class="clr-primary fw-bd fs-sm">{{ ticket.value }}</p>
                </div>

                <div class="group sm">
                    {% if ticket.passenger %}
                        <span class="fw-bd fs-sm clr-text-light">{{ ticket.passenger.name }}</span>
                        <span class="fw-bd fs-sm clr-text-light">{{ ticket.passenger.cpf|default:'CPF: NA' }} - {{ ticket.passenger.rg|default:'RG: NA' }} - {{ ticket.passenger.birth_date|default:'Nascimento: NA' }}</span>
                    {% else %}
                        <span class="fw-bd fs-sm clr-text-light">CARGA: {{ ticket.cargo.weight }}</span>
                        <span class="fw-bd fs-sm clr-text-light">{{ ticket.cargo.description }}</span>
                    {% endif %}
                </div>

                {% if ticket.status == 'analyzing' %}
                    <div class="group row">
                        <form class="discreet" action="{% url 'ticket:ticket_status_update' ticket.id 'pending' %}" method="POST">
                            {% csrf_token %}

                            <button class="button link" type="submit">Confirmar</button>
                        </form>

                        <form class="discreet" action="{% url 'ticket:ticket_status_update' ticket.id 'cancelled' %}" method="POST">
                            {% csrf_token %}

                            <button class="button link red" type="submit" name="ticket" value="{{ ticket.id }}">Cancelar passagem</button>
                        </form>
                    </div>
                {% elif ticket.status != 'cancelled' %}
                    <div class="group row">
                        {% if not ticket.no_show %}
                            {% if ticket.boat.supplier.upload_ticket %}
                                {% if ticket.file %}
                                    <a class="button link download" href="{{ ticket.file.url }}" download>Download</a>
                                {% else %}
                                    <form 
                                        action="{% url 'ticket:ticket_upload' ticket.id %}" 
                                        class="discreet ticket-upload-form" 
                                        enctype="multipart/form-data" 
                                        method="POST"
                                    >
                                        {% csrf_token %}

                                        <label for="file" class="button link upload">Anexar bilhete</label>

                                        <input 
                                            id="file" 
                                            type="file"
                                            name="file"
                                            required
                                        >

                                        <div class="submit-navbar">
                                            <button class="button" type="submit">Salvar bilhete</button>
                                        </div>
                                    </form>
                                {% endif %}
                            {% else %}
                                <a href="{% url 'ticket:pdf' ticket.id %}" class="button link download" download>Download</a>
                            {% endif %}
                        {% endif %}

                        
                        {% if ticket.status != 'completed' %}
                            <form class="discreet" action="{% url 'ticket:ticket_status_update' ticket.id 'cancelled' %}" method="POST">
                                {% csrf_token %}

                                <button class="button link red" type="submit" name="ticket" value="{{ ticket.id }}">Cancelar passagem</button>
                            </form>
                        {% endif %}
                    </div>
                {% endif %}

                {% if ticket.status == 'pending' and request.user.role == 'A' %}
                    <form action="{% url 'ticket:ticket_status_update' ticket.id 'paid' %}" class="discreet" method="POST">
                        {% csrf_token %}

                        <div class="submit-navbar">
                            <button class="button">Marcar como Pago</button>
                        </div>
                    </form>
                {% endif %}
            </div>

            <div class="group lg">
                <p>Adicionais</p>

                {% for additional in ticket.get_additional %}
                    <div class="group additional-group">
                        <span class="fw-bd fs-md clr-primary">{{ additional.value }}</span>
                        <span class="fs-sm fw-bd clr-text-light">{{ additional.description }}</span>
                        <a href="{% url 'ticket:additional_remove' additional.id %}" class="clr-red fw-bd fs-sm">Remover Adicional</a>
                    </div>
                {% endfor %}

                <form
                    action="{% url 'ticket:additional_creation' ticket.id %}"
                    class="container lg card"
                    method="POST"
                >
                    {% csrf_token %}

                    <div class="group lg">
                        <input 
                            id="description"
                            placeholder="Descrição"
                            maxlength="100"
                            name="description" 
                            required
                            type="text" 
                        >
                        
                        <input 
                            id="value"
                            placeholder="Valor"
                            maxlength="50"
                            name="value" 
                            required
                            type="text" 
                        >

                        <button class="link button">Salvar Adicional</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
{% endblock %}