.logo{
    height: 1.75rem;
    width: auto;
}

.route-search-form{
    background-color: var(--clr-white);
    border-radius: .5rem;
    gap: .75rem;
    padding: .75rem;

    .search-date-button{
        display: flex;
        gap: .75rem;
    }

    .result-item{
        background-color: var(--clr-white);
        border: 2px solid var(--clr-gray-light);
        border-radius: .5rem;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 8rem;
        padding-block: 1rem;
        padding-inline: .75rem;
        width: 100%;

        .route-value{
            align-items: flex-start;
            display: flex;
            justify-content: space-between;

            .group{
                text-align: right;
                
                .price-label{
                    font-size: 14px;
                }
                
                .cost-label{
                    font-size: .75rem;
                }
            }
        }

        .route-info span{
            color: var(--clr-text-light);
            font-size: .75rem;
            font-weight: 600;

            &.route-time{
                color: var(--clr-text);
                font-size: 14px;
            }
        }
    }

    .not-found{
        color: var(--clr-red-dark);
        font-size: 14px;
        font-weight: 600;
    }
}