.ticket-list li {
    padding: 1rem;

    .ticket-links{
        display: flex;
        gap: .5rem;

        a {
            background-color: var(--clr-primary-light);
            border-radius: 100vw;
            color: var(--clr-primary-dark);
            display: flex;
            font-size: .75rem;
            gap: .5rem;
            padding-block: .5rem;
            padding-inline: .75rem;

            &.download::before{
                aspect-ratio: 1;
                background-image: url('../../../icons/file_save.svg');
                content: '';
                display: block;
                width: .75rem;
            }
        }
    }
}