:root{
    /* PRIMARY */
    --clr-primary: #1C74E9;
    --clr-primary-dark: #0E4690;
    --clr-primary-light: #E8F1FD;

    /* AUXILIARY */
    --clr-green: #1CE9A4;
    --clr-green-dark: #0E8B61;
    --clr-green-light: #D1FAEC;

    --clr-yellow: #E9E91C;
    --clr-yellow-dark: #8B8B0E;
    --clr-yellow-light: #FAFAD1;
    
    --clr-red: #E91C82;
    --clr-red-dark: #8B0E4C;
    --clr-red-light: #FDE8F2;

    /* NEUTRAL */
    --clr-gray: #C3CDDA;
    --clr-gray-light: #EEF2F6;

    --clr-white: #FFF;

    /* TEXT */
    --clr-placeholder: #808080;

    --clr-text: #333;
    --clr-text-light: #666;

    /* LAYOUT */
    --clr-background: var(--clr-primary-light);

    /* GRADIENTS */
    --linear-blue: linear-gradient(270deg, #458EED, #1C74E9, #135DBE);
}