:root{
    --navbar-height: 4rem;
    --page-header-height: 3.5rem
}

html, 
body{
    box-sizing: border-box;
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;

    &:has(.page-header){
        padding-top: var(--page-header-height);
    }

    &:not(:has(.page-header)){
        background-color: var(--clr-background);
        
        main{
            display: grid;
            gap: 1rem;
        }
    }

    &:has(.navbar) main{
        padding-bottom: calc(var(--navbar-height) + 1rem);
    }

    .group{
        display: grid;
        gap: .5rem;

        &.sm{
            gap: .25rem;
        }
    }

    .hidden{
        display: none;
    }
}

main{
    padding-inline: 1rem;
    padding-block: 1.25rem;
}