:root{
    --navbar-height: 4rem;
    --page-header-height: 3.5rem
}

html, 
body{
    box-sizing: border-box;
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
}

body:has(.page-header){
    padding-top: var(--page-header-height);
}

body:has(.navbar) main{
    padding-bottom: var(--navbar-height);
}

body .hidden{
    display: none;
}

.group{
    display: grid;
    gap: .5rem;
}