:root{
    --navbar-height: 4rem;
    --page-header-height: 3.5rem
}

html, 
body{
    box-sizing: border-box;
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;

    &:has(.auth-header){
        main{
            padding-block: 1.25rem;
            padding-inline: 1rem;
        }
    }

    &:has(.page-header){
        padding-top: var(--page-header-height);
    }

    &:not(:has(.page-header), :has(.auth-header)){
        background-color: var(--clr-background);
        
        main{
            display: grid;
            gap: 1rem;
            padding-inline: 1rem;
            padding-top: 1.25rem;
        }
    }

    &:has(.navbar) main{
        padding-bottom: calc(var(--navbar-height) + 1rem);
    }

    .container{
        background-color: var(--clr-white);
        box-sizing: border-box;
        display: grid;
        gap: .5rem;
        padding-block: .75rem;
        padding-inline: 1rem;
        width: 100%;

        &.center{
            align-items: center;
            text-align: center;
        }

        &.lg{
            padding-block: 1rem;
        }

        &.gray{
            background-color: var(--clr-gray-light);
        }
    }

    .group{
        display: grid;
        gap: .5rem;

        &.row{
            display: flex;
        }

        &.sm{
            gap: .25rem;
        }

        &.lg{
            gap: 1rem;
        }
    }

    .hidden{
        display: none;
    }
}