@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

body,
body *{
    font-family: 'Inter', system-ui, sans-serif;
    font-weight: 500;
}

body{
    color: var(--clr-text);
}

.link{
    color: var(--clr-primary);
    font-size: 14px;
    font-weight: 500;
}

.error-message{
    color: var(--clr-red-dark);
    font-size: 14px;
    font-weight: 500;

    &:empty{
        display: none;
    }
}

.boat-label{
    align-items: center;
    color: var(--clr-primary);
    display: flex;
    font-weight: 600;
    gap: .5rem;

    &::before{
        aspect-ratio: 1;
        background-image: url('../../icons/labels/boat.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        content: '';
        display: block;
        width: 1.25rem;
    }
}

.profit-label{
    color: var(--clr-green-dark);
    font-weight: 600;
}

.price-label{
    color: var(--clr-primary-dark);
    font-weight: 600;
}

.cost-label{
    color: var(--clr-red-dark);
    font-weight: 600;
}

.badge{
    background-color: var(--clr-gray-light);
    border-radius: .25rem;
    color: var(--clr-primary-dark);
    display: block;
    font-size: .5rem;
    font-weight: 600;
    padding-block: .25rem;
    padding-inline: .5rem;
    width: fit-content;

    &.blue{
        background-color: var(--clr-primary-dark);
        color: var(--clr-white);
    }

    &.green{
        background-color: var(--clr-green-dark);
        color: var(--clr-white);
    }
}