@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

body,
body *{
    font-family: 'Inter', system-ui, sans-serif;
    font-weight: 500;
}

body{
    color: var(--clr-text);
}

.link{
    color: var(--clr-primary);
    font-size: 14px;
    font-weight: 500;
}