.button{
    background-color: var(--clr-primary);
    border: none;
    border-radius: .5rem;
    color: var(--clr-white);
    cursor: pointer;
    font-size: .875rem;
    font-weight: 500;
    outline: none;
    padding-block: 1rem;
    padding-inline: 2rem;
    transition: background-color .5s;
    width: 100%;

    &:is(
        :hover, 
        :focus-visible, 
        :not(:disabled, :read-only)
    ){
        background-color: var(--clr-primary-dark);
    }

    &.secondary{
        background-color: transparent;
        border: 1px solid var(--clr-primary);
        color: var(--clr-primary);
        font-weight: 500;
        padding-block: calc(1rem - 1px);
        padding-inline: calc(2rem - 1px);

        &:is(
            :hover, 
            :focus-visible, 
            :not(:disabled, :read-only)
        ){
            background-color: var(--clr-primary);
            color: #FFF;
        }
    }

    &:disabled,
    &:disabled:is(
        :hover, 
        :focus-visible, 
    ){
        background-color: var(--clr-gray);
        border: none;
        color: var(--clr-text);
        cursor: default;
    }

    &.icon{
        background-size: 1.5rem;
        background-position: center;
        background-repeat: no-repeat;
        width: fit-content;

        &.search{
            background-image: url('../../icons/buttons/search.svg');

            &:disabled{
                background-image: url('../../icons/buttons/search-disabled.svg');
            }
        }
    }
}

a:has(.button){
    width: 100%;
}