.button{
    background-color: var(--clr-primary);
    border: none;
    border-radius: .5rem;
    color: var(--clr-white);
    cursor: pointer;
    font-size: .875rem;
    font-weight: 500;
    outline: none;
    padding-block: 1rem;
    padding-inline: 2rem;
    transition: background-color .5s;
    width: 100%;

    &:is(
        :hover, 
        :focus-visible, 
        :not(:disabled, :read-only)
    ){
        background-color: var(--clr-primary-dark);
    }

    &.secondary{
        background-color: transparent;
        border: 1px solid var(--clr-primary);
        color: var(--clr-primary);
        font-weight: 500;
        padding-block: calc(1rem - 1px);
        padding-inline: calc(2rem - 1px);

        &:is(
            :hover, 
            :focus-visible, 
            :not(:disabled, :read-only)
        ){
            background-color: var(--clr-primary);
            color: #FFF;
        }
    }

    &.link{
        background-color: var(--clr-primary-light);
        border-radius: 100vw;
        color: var(--clr-primary-dark);
        display: flex;
        font-size: .75rem;
        gap: .5rem;
        padding-block: .5rem;
        padding-inline: .75rem;
        width: fit-content;

        &.red{
            background-color: var(--clr-red-light);
            color: var(--clr-red-dark);
        }

        &.yellow{
            background-color: var(--clr-yellow-light);
            color: var(--clr-text);
        }

        &.add::before,
        &.download::before,
        &.upload::before{
            aspect-ratio: 1;
            content: '';
            display: block;
            height: .75rem;
            width: auto;
        }

        &.add::before{
            background-image: url('../../icons/buttons/add-link.svg');
        }

        &.download::before{
            background-image: url('../../icons/file_save.svg');
        }

        &.upload::before{
            background-image: url('../../icons/buttons/upload.svg');
        }
    }

    &:disabled,
    &:disabled:is(
        :hover, 
        :focus-visible, 
    ){
        background-color: var(--clr-gray);
        border: none;
        color: var(--clr-text);
        cursor: default;
    }

    &.icon{
        background-size: 1.5rem;
        background-position: center;
        background-repeat: no-repeat;
        width: fit-content;

        &.search{
            background-image: url('../../icons/buttons/search.svg');

            &:disabled{
                background-image: url('../../icons/buttons/search-disabled.svg');
            }
        }
    }
}

a:has(.button:not(.link)){
    width: 100%;
}