.checkbox{
    align-items: center;
    background-color: var(--clr-gray-light);
    box-sizing: border-box;
    color: var(--clr-placeholder);
    cursor: pointer;
    display: flex;
    font-size: .875rem;
    gap: .5rem;
    padding: .75rem;
    transition: background-color .5s;
    width: 100%;

    &:has(:checked){
        background-color: var(--clr-primary-light);
        color: var(--clr-primary);
    }

    &.sm{
        aspect-ratio: 1;
        border-radius: 100vw;
        height: 2rem;
        justify-content: center;
        width: auto;

        input{
            display: none;
        }

        &:has(:checked){
            background-color: var(--clr-primary);
            color: var(--clr-white);
        }
    }
}