input:is(
    [type="date"], 
    [type="email"], 
    [type="month"],
    [type="number"],
    [type="password"], 
    [type="text"],
    [type="time"],
), 
select,
textarea{
    --icon-size: 1.25rem;
    --padding-inline: .75rem;

    background-color: var(--clr-gray-light);
    background-position-x: calc(100% - var(--padding-inline));
    background-position-y: center;
    background-repeat: no-repeat;
    border: none;
    border-radius: .5rem;
    box-sizing: border-box;
    color: var(--clr-text);
    font-size: .875rem;
    font-weight: 500;
    height: 3rem;
    outline: none;
    padding-inline: var(--padding-inline);
    width: 100%;

    &:is(textarea){
        height: 7.5rem;
        padding-block: .5rem;
    }

    &:focus-visible{
        border: 2px solid var(--clr-primary);
    }

    &.search{
        background-image: url('../../icons/inputs/search.svg');
        padding-right: calc(var(--icon-size) + var(--padding-inline) + .5rem);
    }

    ::placeholder{
        color: var(--clr-placeholder);
    }
}

input[type="file"]{
    display: none;
}

::selection{
    background-color: var(--clr-primary-dark);
    color: var(--clr-white);
}

select option:first-child:disabled{
    display: none;
}