@keyframes width {
    from{
        max-width: 0%;
    }

    to{
        max-width: 100%;
    }
}

.progress-container{
    background-color: var(--clr-gray);
    border-radius: .25rem;
    height: .5rem;
    overflow: hidden;
    width: 100%;

    .progress-bar{
        animation: width 1s;
        background-color: var(--clr-primary);
        height: 100%;

        &[style="width: 100%;"]{
            background-color: var(--clr-green-dark);
        }
    }
}