
.finantial-form{
    gap: 0;
    padding: 0;

    .ticket-table{
        tr{
            background-color: var(--clr-green-light);
            transition: background-color .5s;
            
            
            &:has(input){
                background-color: var(--clr-red-light);
            }
            
            &:has(input:checked){
                background-color: var(--clr-primary-light);
            }
        }

        .paid-ticket{
            background-color: var(--clr-green-dark);
            background-image: url('../../../icons/check-white.svg');
            background-position: center;
            background-repeat: no-repeat;
        }
    }

    button{
        background-color: var(--clr-green-dark);
        border: none;
        box-sizing: border-box;
        color: var(--clr-white);
        display: none;
        font-size: .75rem;
        font-weight: 600;
        padding-block: .75rem;
    }

    &:has(input:checked) button{
        display: block;
    }

}