.finantial-form{
    padding-block: 0;
}

.finantial-sheet{
    tbody tr{
        background-color: var(--clr-white);
        cursor: pointer;
        transition: background-color .5s;
        
        &:has(input:checked){
            background-color: var(--clr-primary-light);

            &.paid{
                background-color: var(--clr-green-light);
            }
        }

        input[type="text"]{
            background-color: transparent;
            font-size: .75rem;
            height: 100%;
            padding: 0;
            width: 10ch;
        }
    }

    .paid-ticket{
        background-color: var(--clr-green-dark);
        background-image: url('../../../icons/check-white.svg');
        background-position: center;
        background-repeat: no-repeat;
    }
}